@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-base-bg;
}

* {
  font-size: 16px;
}
.containerDefault {
  width: 1200px;
  margin: auto;
}

#btn-submit:disabled {
  @apply bg-light-gray;
  @apply border-light-gray;
  @apply text-disable-btn;
  @apply cursor-not-allowed;
}
